[user]
name = Michał Domarus
email = mdomarus@gmail.com
[init]
defaultBranch = main
[color]
ui = auto
[commit]
gpgsign = true
[tag]
gpgSign = true
forceSignAnnotated = false
[gpg]
program = gpg
format = openpgp
[pull]
rebase = true
[gpg "ssh"]
program =
allowedSignersFile =
[include]
path = ~/.gitconfig.local
