[user]
	name = Michał Domarus
	email = mdomarus@gmail.com
	signingKey = 563EACA1
[init]
	defaultBranch = main
[color]
	ui = auto
[commit]
	gpgsign = true
[tag]
	gpgSign = true
	forceSignAnnotated = false
[gpg]
	program = gpg
	format = openpgp
[pull]
	rebase = true
[gpg "ssh"]
	program = 
	allowedSignersFile = 
